



@media (min-width: 1250px) {
  .grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 54px 77px 1fr;
    grid-template-areas: "sidenav header" "sidenav title2" "sidenav main";
    height: 100vh;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #241b3e;
    padding: 1rem;
  }
  
  .menu {
    grid-area: menu;
    display: none;
  }
  
  .start-cards {
    display: grid;
    column-gap: 27px;
    row-gap: 27px;
    grid-template-columns: 49% 49%;
  }
  
  .browse-cards {
    display: grid;
    column-gap: 33px;
    grid-template-columns: 31.4% 31.33% 31.31%;
  }
  
  .tab2-box4 {
    width: calc(91.5% + 66px);
  }
  
  .tab3-box3 {
    width: calc(94% + 27px);
  }

}


@media (max-width: 1250px) {
  .grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 54px 77px 1fr;
    grid-template-areas: "sidenav header" "sidenav title2" "sidenav main";
    height: 100vh;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #241b3e;
    padding: 1rem;
  }
  
  .start-cards {
    display: grid;
    column-gap: 39px;
    row-gap: 33px;
    grid-template-columns: 47% 47%;
  }
  
  .browse-cards {
    display: grid;
    row-gap: 33px;
    grid-template-columns: 100%;
  }
  
  .tab2-box4 {
    width: 91.66%;
  }
  
  .menu {
    grid-area: menu;
    display: none;
  }
}

@media (max-width: 1050px) {
  .grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 54px 77px 1fr;
    grid-template-areas: "sidenav header" "sidenav title2" "sidenav main";
    height: 100vh;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #241b3e;
    padding: 1rem;
  }
  
  .start-cards {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 21px;
  }
  
  
  
}




@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 54px 77px 1fr;
    grid-template-areas: "menu header" "sidenav title2" "sidenav main";
    height: 100vh;
  }
  
  .sidenav {
    grid-area: sidenav;
    width: 0;
    padding: 0;
    transition: width .5s ease-in;
  }
  
  .sidenav-opened {
    grid-area: sidenav;
    width: 250px;
    padding: 1rem;
  }
  
  .main-opened {
    opacity: .5;
    transition: opacity .7s;
  }
  
  .title2-opened {
    opacity: .5;
    transition: opacity .7s;
    margin-left: 0 !important;
  }
  
  .title2 {
    margin-left: -2rem;
  }
  
  .menu {
    display: block;
    grid-area: menu;
  }
  
  .main {
    padding-left: 0 !important;
  }
  
  
}


.header {
  grid-area: header;
  background-color: #fff;
  padding: 6px 0px 11px 10px;
}

.title2 {
  grid-area: title2;
  background-color: #a2b21e;
}

.menu {
  margin-top: 11px;
}

.ms-Icon {
    font-weight: 600;
    font-size: 17px;
    color: grey;
}

.main {
  grid-area: main;
  background-color: #faf9f8;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: auto;
}

/* .footer {
  grid-area: footer;
  background-color: #f3f2f1;
  padding: 12px 20px;
} */


.grid-p1-b3-b4 {
    display: grid;
    grid-template-columns: 70% 30%;
    /*grid-template-rows: 54px 77px 1fr;*/
    grid-template-areas: "text dropdown";
  }



body {
  background-color: rgba(225, 223, 221, 0.2);
  min-height: 611px;
  margin: 0;
}

.page-title {
  padding: 52px 0px;
}

.card {
  background: #e9ecefff;
  padding: 28px;
  border-radius: 2px;
  background-clip: padding-box;
}

.ms-Nav-compositeLink:hover .ms-Nav-linkText {
  color: #000;
}

.is-selected .ms-Nav-linkText {
  color: #000;
}

.rt-search {
  align-self: flex-start !important;
  border: 2px solid #aaa !important;
}

.ReactTable {
  background-color: #e9ecef !important;
}

/* hide select all cehckbox reactable */

.hide-checkbox {
  pointer-events: none;
}

.hide-checkbox input[type='checkbox'] {
  display: none;
}


/* .linkText-73 {
  color: #fff;
} */










